.navigation {
  width: 80%;
  margin: auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-item {
  list-style-type: none;
  display: inline-block;
  width: 50%;
  border-radius: 25px;
  padding: 10px 0 10px 0;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  -webkit-text-stroke: 1px #65D1D1;
  color: #E3F6F6;
  transition: background-color 500ms;
  cursor: default;
}

.selected {
  background-color: #65D1D1;
}

@media only screen and (max-width: 480px) {
  .navigation-item {
    padding: 5px 0 5px 0;
    font-size: 35px;
  }
}
