.navigation {
  width: 80%;
  margin: auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-item {
  list-style-type: none;
  display: inline-block;
  width: 50%;
  padding: 10px 0 10px 0;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  transition: background-color 500ms;
  cursor: default;
}

.selected {
  background-color: #65D1D1;
}

.navigation-list a {
  -webkit-text-stroke: 1px #65D1D1;
  color: #E3F6F6;
}
