.images {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  position: relative;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30%;
  height: 300px;
  margin-left: 3%;
  margin-bottom: 20px;
  transition: box-shadow 500ms;
  transition: transform 500ms;
}

.image:hover {
  box-shadow: 8px 8px 10px gray;
  transform: scale(1.1);
}

.image:hover .fullscreen-icon {
  opacity: 1;
}

.image img {
  max-width: 100%;
  height: 100%;
}

.heart {
  position: absolute;
  color: red;
  font-size: 6vw;
  user-select: none;
  opacity: 0;
  transition: opacity 300ms;
}

.fullscreen-icon {
  position: absolute;
  bottom: 5px;
  right: 7px;
  color: gray;
  opacity: 0;
  font-size: 2vw;
  user-select: none;
  cursor: zoom-in;
  transition: opacity 300ms;
}

.loading {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  -webkit-text-stroke: 1px #65D1D1;
  color: #E3F6F6;
}

@media only screen and (max-width: 480px) {
  .image {
    width: 100%;
  }

  .heart {
    font-size: 10vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .image {
    width: 45%;
    margin-left: 3%;
  }
}
